<h1>Working With Collections</h1>
<h2>Shirt Collection</h2>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let shirt of shirts$ | async" class="row cols-3">
        <div class="container">
            <div class="row cols-3">
                <div class="col-3">
                    {{ shirt.name }}
                </div>
                <div class="col-6">
                    {{ shirt.price | currency:'USD':'symbol'}}
                </div>
                <div class="col-3">
                   <button class="btn btn-danger" (click)="delete(shirt.id)" >Delete</button>
                </div>
            </div>
        </div>
    </li>
</ul>